.mapOpen {
    opacity: 0;
    animation: mapOpen 1s ease-in-out forwards;
}

@keyframes mapOpen {
    0% {
        top: 500px;
        opacity: 0;
    }
    80% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 15px;
        opacity: 1;
    }
}
