@import "tailwindcss";

@import "tailwindcss";
* {
    font-family: 'Pixelify Sans', sans-serif;
  }
  
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }